.carousel-img {
  max-height: 650px;
}

.parallax {
  background-image: url("../images/ting-tian-_79ZJS8pV70-unsplash.jpg");

  /* Set a specific height */
  min-height: 470px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.searchBox {
  padding-top: 185px;
}

@media all and (max-width: 900px) {
  .parallax {
    background-size: cover;
  }
}